#cont {
    max-width: 80%;
    margin: 0 auto;
  }
  
  @media (max-width: 768px) {
    .d-flex.flex-column.justify-content-between.align-items-center {
      align-items: flex-start;
    }
  }
  @media only screen and (max-width: 760px) {
    #he1{
      color: black !important;
  }
  #pe1{
      color: black !important;
  }
  }